{% extends 'base.html' %}

{% block title %}Change password successful{% endblock %}

{% block content %}

{% block breadcrumb %}
<nav aria-label="breadcrumb" style="padding-top: 20px">
<ol class="breadcrumb">
<li class="breadcrumb-item"><a href="{% url 'password_change' %}">Change password</a></li>
  <li class="breadcrumb-item active">Success</li>
</ol>      
</nav>

  {% endblock %}

<body>
  <div class="alert alert-success" role="alert">
    <strong>Success!</strong> Your password has been changed!
  </div>
  <a href="{% url 'index' %}" class="btn btn-secondary">Return to home page</a>
</body>
  {% endblock %}